<div class="h1 session-header">
  Your Sessions
</div>
<div class="h3 sub-text">
  Session 1
</div>
<mat-stepper [linear]="true" orientation="vertical" #stepper>
  <div *ngFor="let scenario of session?.scenarios; let i = index">
    <mat-step [stepControl]="senarioFormGroup">
      <ng-template matStepLabel>Scenario {{i+1}}</ng-template>

      <mat-stepper [linear]="true" #stepper>
        <mat-step [stepControl]="mediaFormGroup">
          <ng-template matStepLabel>Audio clip</ng-template>
          <form [formGroup]="mediaFormGroup">
            <div class="msg">
              <span class="sp1">{{ scenario.desc }}</span>
            </div>
            <div class="audio-div">
              <app-audio-player></app-audio-player>
            </div>
            <div>
              <button class="stepper-btn" mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="transcriptFormGroup">
          <ng-template matStepLabel>Scenario question</ng-template>
          <form [formGroup]="transcriptFormGroup">
            <div class="msg">
              <span class="sp1">{{ scenario.media.transcript }}</span>
              <div *ngFor="let que of scenario.questionList" class="ques-card">
                <span class="ques">{{ que.desc }}</span>
                <app-radio-button
                  [answers]="que.answers"
                  (itemSelected)="onSessionTypeSelected($event, stepper)"
                  [parentForm]="queFormGroup"
                  itemControlName="queCtrl">
                </app-radio-button>
              </div>
            </div>


            <div>
              <button class="stepper-btn" mat-button matStepperPrevious>Back</button>
              <button class="stepper-btn" mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="queFormGroup">
          <ng-template matStepLabel>Emotions</ng-template>
          <form [formGroup]="queFormGroup">
            <span class="slider-ques">How did you think you performed?</span>
            <div class="slider">
              <ngx-slider formControlName="slider" [ngModel]="value" [(value)]="value" [options]="options"></ngx-slider>
            </div>

            <div>
              <button class="stepper-btn" mat-button matStepperPrevious>Back</button>
              <button class="stepper-btn" mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <ng-template matStepperIcon="edit">
          <mat-icon>
          </mat-icon>
        </ng-template>
      </mat-stepper>
      <div>
        <button class="stepper-btn-disabled" mat-button matStepperNext>Next Scenario</button>
      </div>
    </mat-step>
  </div>
</mat-stepper>

