<mat-stepper [linear]="true" #stepper>
  <div *ngFor="let scenario of session?.scenarios">
    <mat-step [stepControl]="senarioFormGroup">
      <mat-stepper [linear]="true" #stepper>
        <mat-step [stepControl]="mediaFormGroup">
          <form [formGroup]="mediaFormGroup">
            <div class="msg">
              <span class="sp1">{{ scenario.desc }}</span>
            </div>

            <div
              *ngIf="scenario?.media?.type == 'video'"
              class="swiper-slide swiper-img"
            >
              <video controls [src]="scenario?.media?.url"></video>
            </div>

            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="transcriptFormGroup">
          <form [formGroup]="transcriptFormGroup">
            <div class="msg">
              <span class="sp1">{{ scenario.media.transcript }}</span>
            </div>

            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="queFormGroup">
          <form [formGroup]="queFormGroup">
            <div *ngFor="let que of scenario.questionList" class="ques-card">
              <span class="ques">{{ que.desc }}</span>
              <app-radio-button
                [answers]="que.answers"
                (itemSelected)="onSessionTypeSelected($event, stepper)"
                [parentForm]="queFormGroup"
                itemControlName="queCtrl"
              ></app-radio-button>
            </div>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
      </mat-stepper>
      <div>
        <button mat-button matStepperNext>Next Scenario</button>
      </div>
    </mat-step>
  </div>
</mat-stepper>
