@import "../../../variables.scss";

:host{
  ::ng-deep{
    .wrapper{
      width: 600px !important;
      height: 220px !important;
      color: $theme-primary-color !important;
    }

    .title{
      font-size: 22px;
    }

    .wrapper .container .details .title{
      color: #ffcc00 !important;
      margin: 7px 0 15px;
    }

    .slidecontainer .time-line {
      color: #ffcc00 !important;
    }
  }
}
