
.content {
  margin-bottom: 56px;
  height: 100%;
}

app-nav-bar{
  position: fixed;
  width: 100%;
}

//@media only screen and (min-width: 755px) {
//  app-bottom-nav{
//    visibility: hidden;
//  }
//  app-banner-msg{
//    display: none;
//  }
//}

