<div class="h1 header-journey">
  Your Journey
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="main-timeline">
        <div class="timeline">
          <a href="#" class="timeline-content" [routerLink]="['/sessions']">
            <span class="timeline-year">Session 1</span>
            <div class="timeline-icon">
              <i class="fa fa-rocket" aria-hidden="true"></i>
            </div>
            <div class="content">
              <h3 class="title">Journey Begins!</h3>
              <p class="description">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
              </p>
            </div>
          </a>
        </div>
        <div class="timeline">
          <a href="#" class="timeline-content">
            <span class="timeline-year">Session 2</span>
            <div class="timeline-icon">
              <i class="fa fa-users" aria-hidden="true"></i>
            </div>
            <div class="content">
              <h3 class="title">Session 2</h3>
              <p class="description">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
              </p>
            </div>
          </a>
        </div>
        <div class="timeline">
          <a href="#" class="timeline-content">
            <span class="timeline-year">Session 3</span>
            <div class="timeline-icon">
              <i class="fa fa-cog" aria-hidden="true"></i>
            </div>
            <div class="content">
              <h3 class="title">Session 3</h3>
              <p class="description">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
              </p>
            </div>
          </a>
        </div>
        <div class="timeline">
          <a href="#" class="timeline-content">
            <span class="timeline-year">Session 4</span>
            <div class="timeline-icon">
              <i class="fa fa-heart" aria-hidden="true"></i>
            </div>
            <div class="content">
              <h3 class="title">Session 4</h3>
              <p class="description">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
              </p>
            </div>
          </a>
        </div>
        <div class="timeline">
          <a href="#" class="timeline-content">
            <span class="timeline-year">Session 5</span>
            <div class="timeline-icon">
              <i class="fa fa-globe" aria-hidden="true"></i>
            </div>
            <div class="content">
              <h3 class="title">Session 5</h3>
              <p class="description">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
              </p>
            </div>
          </a>
        </div>
        <div class="timeline">
          <a href="#" class="timeline-content">
            <span class="timeline-year">Session 6</span>
            <div class="timeline-icon">
              <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
            <div class="content">
              <h3 class="title">Session 6</h3>
              <p class="description">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
              </p>
            </div>
          </a>
        </div>
        <div class="timeline">
          <a href="#" class="timeline-content">
            <span class="timeline-year">Session 7</span>
            <div class="timeline-icon">
              <i class="fa fa-edit" aria-hidden="true"></i>
            </div>
            <div class="content">
              <h3 class="title">Session 7</h3>
              <p class="description">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
