<div class="h1 header-journey">
  Your Journey
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="main-timeline">
        <div class="timeline">
          <a href="#" class="timeline-content" [routerLink]="['/sessions']">
            <span class="timeline-year">Session 1</span>
            <div class="timeline-icon">
              <i class="fa fa-rocket" aria-hidden="true"></i>
            </div>
            <div class="content">
              <h3 class="title">Journey Begins!</h3>
              <p class="description">
                Once you choose hope, anything is possible! What the caterpillar calls the end of the world, the master calls a butterfly!
              </p>
            </div>
          </a>
        </div>
        <div class="timeline">
          <a href="#" class="timeline-content">
            <span class="timeline-year">Session 2</span>
            <div class="timeline-icon">
              <i class="fa fa-users" aria-hidden="true"></i>
            </div>
            <div class="content">
              <h3 class="title">Session 2</h3>
              <p class="description">
                A positive thinker does not refuse to recognize the negative, he refuses to dwell on it.
              </p>
            </div>
          </a>
        </div>
        <div class="timeline">
          <a href="#" class="timeline-content">
            <span class="timeline-year">Session 3</span>
            <div class="timeline-icon">
              <i class="fa fa-cog" aria-hidden="true"></i>
            </div>
            <div class="content">
              <h3 class="title">Session 3</h3>
              <p class="description">
                Keep your face to the sunshine and you cannot see a shadow! Tough times never last, but tough people do!
              </p>
            </div>
          </a>
        </div>
        <div class="timeline">
          <a href="#" class="timeline-content">
            <span class="timeline-year">Session 4</span>
            <div class="timeline-icon">
              <i class="fa fa-heart" aria-hidden="true"></i>
            </div>
            <div class="content">
              <h3 class="title">Session 4</h3>
              <p class="description">
                Happiness is a state of mind. It is just according to the way you look at the things!
              </p>
            </div>
          </a>
        </div>
        <div class="timeline">
          <a href="#" class="timeline-content">
            <span class="timeline-year">Session 5</span>
            <div class="timeline-icon">
              <i class="fa fa-globe" aria-hidden="true"></i>
            </div>
            <div class="content">
              <h3 class="title">Session 5</h3>
              <p class="description">
                Tough times never last, but tough people do!You may have to fight the battle more than once to win it!
              </p>
            </div>
          </a>
        </div>
        <div class="timeline">
          <a href="#" class="timeline-content">
            <span class="timeline-year">Session 6</span>
            <div class="timeline-icon">
              <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
            <div class="content">
              <h3 class="title">Session 6</h3>
              <p class="description">
                A positive thinker does not refuse to recognize the negative, he refuses to dwell on it.
              </p>
            </div>
          </a>
        </div>
        <div class="timeline">
          <a href="#" class="timeline-content">
            <span class="timeline-year">Session 7</span>
            <div class="timeline-icon">
              <i class="fa fa-edit" aria-hidden="true"></i>
            </div>
            <div class="content">
              <h3 class="title">Session 7</h3>
              <p class="description">
                You may have to fight the battle more than once to win it! Tough times never last, but tough people do!You may have to fight the battle more than once to win it!
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
